.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto auto auto 80px;
    min-height: 100vh;
}
nav{
    grid-row: 1/2;
    grid-column:1/5;
    background-color: cadetblue;
}
nav li {
    list-style-type: none;
    padding: 45px;
}
nav a {
        text-decoration: none; 
        color:white;
    }
nav a:hover{
    color:blanchedalmond;
    }
nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin:0;
    }
h1{
    color:cadetblue;
    text-align: center;
    grid-row: 3/4;
    grid-column:1/5;
}
h2{
    color:cadetblue;
    text-align:center;
}
.mainimage{
    grid-row: 2/3;
    grid-column: 1/5;
    width: auto;
    overflow: hidden;
    padding: 10px;
}
.homeintro{
    grid-row:3/4;
    grid-column:1/5;
}
.gallery{
    grid-row:4/5;
    grid-column: 1/5;
    display: felx;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}
.gallery img{
    width: 300px;
}
.gallerytext{
    grid-row: 5/6;
    grid-column: 1/5;
}
footer{
    grid-row: 6/7;
    grid-column: 1/5;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    margin:0;
}

